# Ignore model files if they are large
models/*.pkl
models/*.joblib
# Ignore other pkl files but track this one
!models/primary_use_classifier.pkl

# Ignore dataset (if you host it elsewhere)
data/*

# ...but don't ignore this file:
!data/phone_usage_india.csv

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
env/
venv/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Streamlit config and logs
.streamlit/
logs/

# Ignore system files
.DS_Store
Thumbs.db
